select {
	width: 200px;
}
	
#eq > p {
    /* height:20px; width:1000px; margin:15px */
  }
  
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}


#slider.ui-slider-range.ui-widget-header {
    background: #A87858;
}

#savuisuus-handle,
#vaniljaisuus-handle,
#kukkaisuus-handle,
#miellyttavyys-handle,
#mausteisuus-handle,
#maltaisuus-handle,
#makeus-handle,
#miellyttavyys-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.body-style {
	min-height: 100%; 
	margin: 0; 
	background-color: #2d1616;
}

.div-style {
	max-width: 700px;
	border: 0
}
}